fastapi
uvicorn
python-multipart
pydantic
httpx

torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu

opencv-python-headless
numpy
scipy
Pillow
scikit-image

paddleocr
paddlepaddle==2.6.2

fonttools

setuptools
wheel